<p id="notice"><%= notice %></p>

<h1 class="bottom-space">Invites</h1>
<div class="centered">
<% if @invites.none? %>
    <div class="invite-button">
      <h4 class="bottom-space">Invite a friend to find movies to watch together!</h4>
      <%= button_to 'Send your first invite', new_invite_path, method: :get %>
    </div>
<% else %>
  <%= button_to 'Send an Invite', new_invite_path, method: :get, class: 'invite-button' %>
  <h4>Sent Invites</h4>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Invitee Name</th>
      <th scope="col">Invitee Email</th>
      <th scope="col">Invite Accepted?</th>
      <th scope="col">Cancel Invite</th>
    </tr>
    </thead>
    <tbody>
    <% @invites.each do |invite| %>
      <tr>
        <th scope="row"></th>
        <td><%= invite.invite_name %></td>
        <td><%= invite.invite_email %></td>
        <td><%= invite.accepted_at.nil? ? 'No' : 'Yes' %></td>
        <td>
          <% if invite.accepted_at.nil? %>
            <%= button_to 'Cancel', invite_path(invite), method: :delete %>
          <% else %>
            <p>Invite was already accepted</p>
          <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
     <% end %>
</div>