<p id="notice"><%= notice %></p>

<container>
  <div class="row">
    <div class="col"></div>
    <div class="col" align="center">
      <img src="<%= @movie.image_url %>" class="poster" />

      <div class="centered bottom-space">
        <p> Available on: <%= @movie.streaming_services.map(&:capitalize).sort.join(', ') %> </p>

        <% if @movie.length %>
          <p> Runtime: <%= @movie.length %> minutes </p>
        <% end %>

        <p>Released: <%= @movie.release_year %> </p>
        <%= @movie.description %>
      </div>

        <a href="https://www.imdb.com/title/tt<%= @movie.imdb_id %>" class="btn btn-primary">
          View on IMDB
        </a>

    </div>
    <div class="col"></div>
  </div>
</container>
