<p id="notice"><%= notice %></p>

<h1>All Movies</h1>

<table>
  <thead>
  <tr>
    <div>
      <%= form_with url: movies_path, method: :get, model: Movie do |form| %>
      <%#= form_with url: streaming_service_path, method: :get, model: Movie do |form| %>
        <%= form.select :streaming_service, %w[hulu netflix plex prime]%>
        <%= form.button "Filter" %>
      <% end %>

      <br>
      <%= button_to "All movies", rated_movies_path, method: :get %>
    </div>
  </tr>
    <tr>
      <th>Name</th>
      <th>Streaming service</th>
      <th>Length</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr align="center">
        <td>
          <img src="<%= movie.image_url %>" height="100">
          <br />
          <%= movie.name %>
        </td>
        <td align="center"><%= movie.streaming_service %></td>
        <td><%= movie.length %></td>
<!--        <td><img src="<%#= movie.image_url %>" height="100"> </td>-->
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Rate Movies', root_path %>
<br>
<%= link_to 'Recommended Movies', recommended_path %>
<br>
