<p id="notice"><%= notice %></p>

<h1>All Movies</h1>

<table>
  <thead>
  <tr>
<!-- TODO:    drop down of all services-->
    <td><%= button_to 'Netflix', streaming_service_path, method: :get, params: { movie: {streaming_service: 'netflix' } } %></td>
    <td><%= button_to 'Plex', streaming_service_path, method: :get, params: { movie: {streaming_service: 'plex' } } %></td>

  </tr>
    <tr>
      <th>Name</th>
      <th>Streaming service</th>
      <th>Length</th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td align="center"><%= movie.streaming_service %></td>
        <td><%= movie.length %></td>
        <td><img src="<%= movie.image_url %>" height="100"> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Rate Movies', root_path %>
<%= link_to 'Recommended Movies', recommended_path %>
<br>
