<p id="notice"><%= notice %></p>

<h3>Would you watch <%= @movie.name %>?</h3>
<% def rate_params(reaction)
  { user_reaction: { reaction: reaction, movie_id: @movie.id, user_id: current_user.id   } }
 end %>

    <div class="container rate">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <%= image_tag("movie_posters/#{@movie.image_path}", height: 400, class: 'bottom-space') if @movie.image_path %>

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary bottom-space" data-toggle="modal" data-target="#movie-popup-modal">
            More Details
          </button>

          <div class="modal fade" id="movie-popup-modal" tabindex="-1" role="dialog" aria-labelledby="movie-popup-modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle"><%= @movie.name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="modal-body">
                  <%= render 'show', movie: @movie %>
                </div>
              </div>
            </div>
          </div>
          <!-- Button trigger modal -->

          <div>
            <%= button_to 'Yes',
                          reaction_path,
                          method: :post,
                          params: rate_params('positive'),
                          class: "btn btn-primary",
                          form: { style: 'display:inline-block;' } %>
            <%= button_to 'No',
                          reaction_path,
                          method: :post,
                          params: rate_params('negative'),
                          class: "btn btn-primary",
                          form: { style: 'display:inline-block;' } %>
          </div>
        </div>

        <div class="col"></div>
      </div>
    </div>
