<p id="notice"><%= notice %></p>

<h1>Recommended Movies</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Streaming service</th>
    <th>Length</th>
    <th></th>
    <th>User 2 reaction</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.name.capitalize %></td>
      <td><%= movie.streaming_service.capitalize %></td>
      <td><%= movie.length.minutes %> minutes</td>
<!--      <td><%#= movie.user1_reaction %></td>-->
<!--      <td><%#= movie.user_2_reaction %></td>-->
<!--      <td><%#= movie.poster %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
