<p id="notice"><%= notice %></p>

<h1>Recommended Movies</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Streaming service</th>
    <th>Length</th>
    <th></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.name.capitalize %></td>
      <td><%= movie.streaming_service.capitalize %></td>
      <td><%= movie.length %> minutes</td>
<!--      <td><%#= movie.poster %></td>-->
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Rate Movies', root_path %>
<%= link_to 'All Movies', movies_path %>
<br>
