<p id="notice"><%= notice %></p>

<container>
  <div class="row">
    <div class="col"></div>
    <div class="col" align="center">
      <img src="<%= @movie.image_url %>" height="400" align="center" />
      <p> <%= @movie.name %> </p>
      <p> <%= @movie.streaming_service %> </p>
      <p><%= @movie.length %> minutes </p>
      <a href="https://www.imdb.com/title/tt<%= @movie.imdb_id %>" class="btn btn-primary">View on IMDB</a>
    </div>
    <div class="col"></div>
  </div>
<%= link_to 'Back', movies_path %>
</container>
